body {
    font-family: Arial, sans-serif;
    background:url('../image/back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     margin-bottom: 150px;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    margin-top: 150px;
    height: 350px;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition:all 1s ease;
  }
  
  .form {
    margin-bottom: 30px;
  }
  
  .form h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size:30px;
  }
  
  .input-container {
    position: relative;
    margin: 50px ;
    width: 280px;
    margin-left:0px;
  }

.input-container input[type="email"] {
    font-size: 15px;
    width: 140%;;
    border: none;
    color:black;
    border-bottom: 2px solid #001F3D;
    margin-top:-10px;
    background-color: transparent;
    outline: none;
  }
  .input-container input[type="password"] {
    font-size: 15px;
    width: 140%;
    border: none;
    color:black;
    border-bottom: 2px solid #001F3D;
    margin-top:-10px;
    background-color: transparent;
    outline: none;
  }
  .input-container .label {
    position: absolute;
    top: -10px;
    left: 0;
    color: #001F3D;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="email"]:focus ~ .label,
  .input-container input[type="email"]:valid ~ .label,
  .input-container input[type="password"]:focus ~ .label,
  .input-container input[type="password"]:valid ~ .label{
    top: -40px;
    font-size: 15px;
    color: black;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 142%;
    background-color: black;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  .input-container input[type="email"]:focus ~ .underline,
  .input-container input[type="email"]:valid ~ .underline,
  .input-container input[type="password"]:focus ~ .underline,
  .input-container input[type="password"]:valid ~ .underline
   {
    transform: scaleX(1);
  }
  button {
    height: 2.8em;
    width: 23em;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid #001F3D;
    outline: none;
    color: #001F3D;
    cursor: pointer;
    font-size: 17px;
  }
  
  button:hover {
    background: #001F3D;
    color: #ffffff;
    animation: squeeze3124 0.9s both;
  }
  
  @keyframes squeeze3124 {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .switch{
    margin-left:-45px;
  }
  .switch p{
    font-weight:bold;
    font-size:15px;
    margin-left:45px;
  }
  .switch a{
    padding-left: 10px;
  }
  .switch a{
    text-decoration: none;
    cursor: pointer;
    color:#001F3D;
  }

  